html{
    background-color: #0f0f0f;
    color: #dfdfdf;
    font-family: "Ubuntu Mono", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0px;
    text-align: left;
}
p{
    margin-left: 10%;
    margin-right: 10%;
}
a{
    color: #54ec6d;
    transition: color 0.3s, background-color 0.3s;
}
a:hover{
    color: #0f0f0f;
    background-color: #0aff0a;
}
nav{
    
    text-align:center;
    font-size:30px;
    word-spacing:80px;
}